.card-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0px 10px 25px 10px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.card-main::-webkit-scrollbar {
  display: none;
}
.cards-scroll {
  display: flex;
  gap: 10px;
}

.card-element {
  flex: 0 0 auto;
  padding: 10px;
  list-style: none;
}

.card-main:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.single-card {
  width: 12rem;
  height: 12rem;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
  transition: box-shadow 0.4s ease-in-out, transform 0.3s ease-in-out;
}

.single-card:hover {
  box-shadow: 0px 1px 5px -3px #000;
  transform: scale(1.1);
}

.card-image {
  width: 12rem;
  height: 12rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  object-fit: cover;
}

.card-image:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.greenOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 55, 45, 0.5);
  border-radius: 0.5rem;
  pointer-events: none;
}
.green {
  background-color: rgba(43, 55, 45, 0.5);
}
.card-colr {
  background-color: rgba(0, 0, 0, 0);
}
.line {
  width: 20%;
  margin: 90% auto 0px auto;
  border: none;
  border-radius: 1rem;
  border-top: thick solid #ffffff;
}
.line2 {
  display: flex;
  align-items: end;
  justify-content: center;
}

.card-hea {
  display: none;
}

.card:hover .card-hea {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  background-color: #98a88e;
  border-radius: 7px;
  color: #28352e;
  font-size: 16px;

  animation-play-state: paused;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 769px) {
  .card-text {
    font-size: 28px;
  }
  .greenOverlay {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
  .card-main {
    margin-top: 5rem;
    overflow-y: hidden;
  }
  .single-card {
    height: 9rem;
    width: 9rem;
  }
  .card-image {
    height: 9rem;
    width: 9rem;
  }

  .card-hea {
    font-size: 14px;
    justify-content: end;
  }

  .greenOverlay {
    width: 100%;
    height: 100%;
  }
}
