/* Home.css */
.section {
    background-image: url(../assets/images/new.jpg);
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.home-title {
    height: 59vh;
    font-family: "Bona Nova SC", serif;
    letter-spacing: 3.5rem;
    text-shadow: 2px 2px 4px rgba(184, 245, 207, 0.827);
    color: #8E9271;
    font-size: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem; 
}

@media screen and (max-width: 769px) { 
    .home-title {
        font-size: 5rem;
        letter-spacing: 1.5rem;
        
    }
}

@media screen and (max-width: 480px) { 
    .section {
        background-attachment: fixed;
        background-image: url(../assets//images/new1.jpg);
        
    }
    .home-title {
        justify-content: left;
        align-items: start;
        font-size: 30px;
        letter-spacing: .4rem;
        height: 50vh; 
        padding: 0 1rem; 
        margin-top: 20%;
        font-weight: 800;
    }
}
