* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin; 
  scroll-behavior: smooth;
  scrollbar-color:#191D23 transparent;
  color: #000;
  font-family: "Hanken Grotesk", serif;


   
}
.navbar {
    text-decoration: none;
    color: #000;
}
